/*!
global > color
------------------------------
*/
:root {
  --c-white: #fff;
  --c-main: #82aaaa;
  --c-sub: #888;
  --c-sub-right: #ddd;
  --c-f-main: #333;
  --c-bg-main: #b3d0d7;
  --c-bg-footer: #444;
  --c-copyright:#999;
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content-s: 760px;
  --width-content: 1080px;
}

/*!
global > font
------------------------------
*/
:root {
  --ff-main: "Noto Sans JP", sans-serif;
  --ff-en: "Raleway", sans-serif;
}

:root {
  --lh-main: 1.75;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--lh-main);
  color: var(--c-f-main);
}

a,
a i {
  color: var(--c-white);
  text-decoration: none;
}

a:hover,
a i:hover {
  opacity: 0.8;
}

/*!
utility > utility
------------------------------
*/
/*!
component > button
------------------------------
*/
.hamburger-button {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
@media screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}
.hamburger-button:hover {
  opacity: 0.8;
}
.hamburger-button span {
  background-color: var(--c-white);
  width: 24px;
  height: 2px;
  transition: all 0.6s;
}
.hamburger-button-open span:first-child {
  transform: translateY(7px) rotate(45deg);
}
.hamburger-button-open span:nth-child(2) {
  opacity: 0;
}
.hamburger-button-open span:last-child {
  transform: translateY(-7px) rotate(-45deg);
}

/*!
component > list
------------------------------
*/
.sns-list {
  display: flex;
  column-gap: 40px;
  justify-content: center;
}
.sns-list .bi {
  font-size: 2.25rem;
  line-height: 1;
}

/*!
component > title
------------------------------
*/
.section-title {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  margin-bottom: 32px;
  font-family: var(--ff-en);
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 2.25rem;
    row-gap: 25px;
    margin-bottom: 39px;
  }
}
.section-title::before, .section-title::after {
  content: "";
  background-color: var(--c-main);
  width: 30px;
  height: 2px;
}
@media screen and (min-width: 768px) {
  .section-title::before, .section-title::after {
    width: 50px;
  }
}

/*!
layout > container
------------------------------
*/
.l-container {
  padding-inline: 16px;
  max-width: var(--width-content);
  padding-inline: 16px;
  margin-inline: auto;
}

.l-container-s {
  max-width: var(--width-content-s);
}

/*!
layout > section
------------------------------
*/
.l-section {
  padding-block: 80px;
  background-color: rgb(from var(--c-bg-main) r g b/0.3);
}
@media screen and (min-width: 768px) {
  .l-section {
    padding-block: 110px 95px;
  }
}
.l-section--narrowPb {
  padding-block: 32px;
}
@media screen and (min-width: 768px) {
  .l-section--narrowPb {
    padding-block: 40px;
  }
}

/*!
layout > section-body
------------------------------
*/
/*!
layout > header
------------------------------
*/
.l-header {
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 66px;
  background-color: var(--c-main);
  box-shadow: 5px 5px 10px 5px var(--c-sub);
  color: var(--c-white);
  padding-inline: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 80px;
    padding-inline: 40px;
  }
}
.l-header__title {
  line-height: 1;
  font-size: 1.5rem;
  font-family: var(--ff-en);
  font-weight: 700;
}
.l-header i {
  color: var(--c-white);
}
.l-header__menu-list {
  font-weight: bold;
  line-height: 1;
  display: flex;
  column-gap: 36px;
  font-size: 0.9375rem;
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 88px;
    left: 100%;
    background-color: var(--c-main);
    border-radius: 16px;
    box-shadow: 5px 5px 10px 5px var(--c-sub);
    padding: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
  }
}
@media screen and (max-width: 767px) {
  .hamburger-menu-active {
    left: 10px;
    right: 10px;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 767px) {
  .hamburger-menu-list {
    flex-direction: column;
    font-size: 1.125rem;
    row-gap: 42px;
  }
}
@media screen and (min-width: 768px) {
  .hamburger-bottom {
    display: none;
  }
}

/*!
layout > footer
------------------------------
*/
.l-footer {
  text-align: center;
  font-family: var(--ff-en);
  background-color: var(--c-bg-footer);
  font-size: 0.75rem;
  color: var(--c-copyright);
  text-transform: uppercase;
}

.back-to-top {
  background-color: var(--c-sub);
  text-align: center;
  padding-block: 0.5rem;
}

.page-top {
  color: var(--c-white);
}
.page-top:hover {
  color: var(--c-black);
}

.top-cover {
  background-color: var(--c-white);
  height: 80vh;
  font-size: 0.875rem;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .top-cover {
    height: 100vh;
    font-size: 1rem;
  }
}
.top-cover .l-container {
  height: 100%;
  text-align: center;
  display: grid;
  place-content: center;
  gap: 32px;
}
.top-cover__title {
  letter-spacing: 0.3em;
  color: var(--c-main);
  font-size: clamp(28px, 3.4vw, 48px);
  font-weight: 700;
}
.top-cover__catch {
  display: block;
  font-size: 1rem;
}
.top-cover .js-fadein {
  opacity: 0;
  transition: all 5s;
}
.top-cover .js-fadein-show {
  opacity: 1;
}

.top-works__item {
  padding: 25px;
}
@media screen and (min-width: 768px) {
  .top-works__item {
    padding: 50px;
  }
}
.top-works img {
  border-radius: 12px;
  box-shadow: 5px 5px 5px 0 var(--c-sub);
  position: relative;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .top-works img {
    border-radius: 25px;
  }
}
.top-works__catch {
  position: absolute;
  right: 0;
  bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 8px;
}
@media screen and (min-width: 768px) {
  .top-works__catch {
    bottom: 70px;
  }
}
.top-works__text {
  background-color: rgb(from var(--c-main) r g b/0.9);
  padding-inline: 16px;
  padding-block: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  border-radius: 8px;
  color: var(--c-white);
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .top-works__text {
    padding-inline: 24px;
    font-size: 1.5rem;
  }
}
.top-works__text--right {
  align-items: flex-end;
}
.top-works__text .small {
  font-size: 0.75rem;
}
.top-works__text a {
  text-decoration: underline;
}
.top-works__bottom {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .top-works__bottom {
    font-size: 1.875rem;
  }
}

.top-about {
  background-color: var(--c-white);
}
.top-about .st > .nav {
  flex-direction: row !important;
  column-gap: 8px;
  font-family: var(--ff-en);
}
@media screen and (min-width: 768px) {
  .top-about .st > .nav {
    column-gap: 16px;
  }
}
.top-about .st-theme-basic {
  border: none;
  background: none;
}
.top-about .st-theme-basic > .nav {
  box-shadow: none;
}
.top-about .st-theme-basic > .nav .nav-link {
  border-radius: 16px 16px 0 0;
  color: var(--c-f-main);
  background-color: var(--c-sub-right);
  font-size: 1.125rem;
  font-weight: bold;
  padding-block: 16px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .top-about .st-theme-basic > .nav .nav-link {
    font-size: 1.625rem;
    padding-block: 24px;
  }
}
.top-about .st-theme-basic > .nav .nav-link::after {
  content: none;
}
.top-about .st-theme-basic > .nav .nav-link.active {
  color: var(--c-white) !important;
  background-color: var(--c-main);
}
.top-about .st > .tab-content {
  overflow: visible;
}
.top-about .st > .tab-content .tab-pane {
  background-color: rgb(from var(--c-bg-main) r g b/0.3);
  padding: 16px;
  border-radius: 0 0 16px 16px;
  border-top: var(--c-main) 10px solid;
}
@media screen and (min-width: 768px) {
  .top-about .st > .tab-content .tab-pane {
    padding: 24px;
  }
}
.top-about .st > .tab-content .tab-inner {
  background-color: var(--c-white);
  padding: 24px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .top-about .st > .tab-content .tab-inner {
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    font-size: 1rem;
  }
}
.top-about .st > .tab-content img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-inline: auto;
}
.top-about__text {
  display: grid;
  gap: 8px;
}
.top-about__text .en {
  font-family: var(--ff-en);
}

.top-skill .accordion {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}
.top-skill .accordion-unit {
  border: var(--c-main) 1px solid;
  border-radius: 16px;
  overflow: hidden;
}
.top-skill .accordion-title, .top-skill .accordion-content-inner {
  padding-inline: 12px 40px;
  padding-block: 24px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-skill .accordion-title, .top-skill .accordion-content-inner {
    padding-left: 24px;
  }
}
.top-skill .accordion-title {
  cursor: pointer;
  background-color: var(--c-white);
  display: flex;
  column-gap: 16px;
  font-weight: 500;
}
.top-skill .accordion-title p::after {
  content: "\f282";
  font-family: "bootstrap-icons";
  background-color: rgb(from var(--c-main) r g b/0.3);
  border-radius: 50%;
  color: var(--c-white);
  line-height: 1;
  padding: 4px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .top-skill .accordion-title p::after {
    right: 24px;
  }
}
.top-skill .accordion-title-active p::after {
  transform: rotate(180deg) translateY(50%);
}
.top-skill .accordion-img {
  font-size: 2.25rem;
  color: var(--c-main);
  line-height: 1;
}
.top-skill .accordion-content {
  background-color: var(--c-main);
  color: var(--c-white);
  display: none;
}

.top-contact {
  background-color: var(--c-white);
}
.top-contact .l-container {
  text-align: center;
}
.top-contact__text {
  margin-bottom: 24px;
}
.top-contact__sns-list li {
  background-color: var(--c-main);
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.top-contact__sns-list li:hover {
  background-color: var(--c-sub);
}
.top-contact__sns-list .fade-in-up {
  opacity: 0;
}
.top-contact__sns-list .fade-in-up-1st {
  animation-delay: 0.5s;
}
.top-contact__sns-list .fade-in-up-2nd {
  animation-delay: 1s;
}
.top-contact__sns-list .fade-in-up-3rd {
  animation-delay: 1.5s;
}/*# sourceMappingURL=style.css.map */