/*!
global > color
------------------------------
*/
:root {
    --c-white: #fff;
    --c-main: #82aaaa;
    --c-sub: #888;
    --c-sub-right: #ddd;
    --c-f-main: #333;
    --c-bg-main: #b3d0d7;
    --c-bg-footer: #444;
    --c-copyright:#999;
}