@use "../global"as g;

/*!
layout > container
------------------------------
*/

.l-container {
    max-width: var(--width-content);
    margin-inline: auto;
}

.l-container-s {
    max-width: var(--width-content-s);
}